<h3 class="title"><a href="{{ path('post_view', {'post_id': post.getId}) }}">{{ post.getTitle }}</a></h3>
<div class="date">{{ post.getDate().format('D jS F Y') }}</div>
<p>{{ post.getContent|replace({"\n": "<br/>"})|raw }}</p>
