{% extends "DTLVoyagerBundle::layout.html.twig" %}
{% block page_content %}
<h2 class="title">{{ post.getTitle }}</h2>
<ul class="actions">
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('post_edit', {'post_id': post.getId}) }}">Edit</a></li>
        <li><a onclick="return confirm('Are you sure?');" href="{{ path('post_delete', {'post_id': post.getId}) }}">Delete</a></li>
    {% endif %}
</ul>
<p>{{ post.getContent|replace({"\n": "<br/>"})|raw }}</p>
{% endblock %}
