{% extends "::base.html.twig" %}
{% block title %}Voyager{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonatablueprint/screen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/dtlvoyager/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />

{% endblock %}
{% block body %}
<div class="container">
    <div id="header-min">
        <h1>Dans Travel Blog</h1>
    </div>
    <div id="main">
        <div class="span-16">
            {% block page_content %}
            <h3>Paris to Orleans</h3>
            <div class="date">17th August, 2011</div>
            <div class="distance">100 miles</div>
            <div class="time">6 hours 12 minutes 13 seconds</div>
            <div class="speed">14mph</div>
            <div class="max">60mph</div>
            {% endblock  %}
        </div>
        <div class="span-8 last">
            <ul>
                <li>
                    <a href="#">1. Paris &gt; Orléans</a>
                </li>
                <li><a href="#">2. Orléans &gt; Bourges</a></li>
                <li><a href="#">3. Bourges &gt; Chatel Guydon</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
