{% extends "::base.html.twig" %}
{% block title %}Voyager{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonatablueprint/screen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/dtlvoyager/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />

{% endblock %}
{% block body %}
<div class="container">
    <div id="header-min">
        <h1>Dans Travel Blog</h1>
    </div>
    <div id="main">
        <div class="span-16">
            {% block page_content %}
            {% endblock  %}
        </div>
        <div class="span-8 last">
        </div>
    </div>
</div>
{% endblock %}
