{% extends "::base.html.twig" %}
{% block title %}Voyager{% endblock%}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonatablueprint/screen.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/dtlvoyager/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />

{% endblock %}
{% block body %}
<div class="container">
    {% render "DTLVoyagerBundle:Log:header" %}
    <div id="main" class="span-24">
        <div class="span-16">
            {% block page_content %}
            {% endblock %}
        </div>
        <div class="span-8 last">
            {% render "DTLVoyagerBundle:Log:sessionList" %}
        </div>
    </div>
</div>
{% endblock %}
